body {
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 4;
    width: 100%;
    position: fixed;
    margin-right: 0;
}

h1,
h2 {
    color: rgb(18, 18, 121);
}

#logga {
    width: 10%;
    margin-top: 2%;
    margin-left: 2%;
}

.titel {
    position: fixed;
    margin-top: 5%;
    text-align: center;
    z-index: 2;
    width: 100%;
}

.titel>h1 {
    font-size: 400%;
    color: white;
    margin-bottom: 0;
    margin-top: 0;
}

.titel>h2 {
    font-size: 250%;
    color: white;
}

.titel>p {
    font-size: 200%;
    color: white;
}


#kartbildBakgrund {
    background: linear-gradient(90deg, rgba(33, 44, 255, 1) 0%, rgba(90, 138, 250, 1) 100%);
    clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 0);
    height: 400px;
}



#kartbild {
    width: 100%;
    height: 400px;
    opacity: 30%;
    clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 0);

    position: fixed;
}



.links {
    border: none;
    background: none;
    font-size: medium;
    font-weight: bold;
    margin-top: 2%;
    color: white;
}



#janInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 100%;
}

#janInfo>img {
    width: 30%;
    
    border-radius: 50%;
}

#janInfo>div {
    width: 30%;
    height: fit-content;
    box-shadow: 5px 5px 4px 5px #ecebeb;
    border-radius: 25px;
    padding: 15px;
}

#linkHolderButton {
    visibility: hidden;
    position: fixed;
}

#dropdownMenu {
    visibility: hidden;
    position: fixed;
}

@media (max-width: 600px) {
    #kartbild {
        object-fit: cover;
    }

    #logga{
        width:20% ;
    }

    .titel>h1 {
        font-size: 250%;
        color: white;
        margin-bottom: 0;
        margin-top: 15%;
    }

    .titel>p {
        font-size: 150%;
        color: white;
    }

    header {
        display: flex;
    }

    #linkHolder {
        visibility: hidden;
    }

    #linkHolderButton {
        visibility: visible;
        background: none;
        border: none;
        right: 0px;
        width: 20%;
    }

    #linkHolderButton>img {
        width: 100%;
    }

    #dropdownMenu {
        display: flex;
        flex-direction: column;
        z-index: 3;
        right: 0;
    }

    #janInfo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #janInfo>div {
        width: 60%;
    }

    #janInfo>img {
        width: 60%;
        height: auto;
    }

}