body{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 5;
    width: 100%;
    
}

h1{
    color: rgb(18, 18, 121);
}

#kartbildBakgrund{
    background: #00f7ff;
    background: linear-gradient(90deg,rgba(0, 247, 255, 1) 0%, rgba(11, 117, 163, 1) 51%, rgba(83, 111, 237, 1) 100%);
    clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 0);
        height: 400px;
}



#kartbild{
    width: 100%;
    height: 400px;
    opacity: 30%;
    position: static;
    clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 0);
    /* mask-image: linear-gradient(to top, transparent 0%, black 30%);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 30%); */

}

#linkHolder{
    display: flex;
    flex-direction: row;
    width: 40%;
}

.links{
    background:none;
    border: none;
    height: auto;
    font-size: large;
    font-weight: bold;
    margin-right: 3%;
}



#janInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3%;
    padding-bottom: 3%;
}

#janInfo > img  {
    width: 15%;
    border-radius: 50%;
}

#janInfo > div {
    width: 30%;
    box-shadow: 5px 5px 8px 10px #cfcdcd;
    border-radius: 25px;
    padding: 15px;
}

.picHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.picHolders{
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 4px 5px #cfcdcd;
    border-radius: 25px;
    padding: 30px;
}

.picHolders > h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.imgs{
    border-radius: 50%;
    width: 250px;
}

