body{
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 5;
    width: 100%;
    position: fixed;
    margin-right: 0;
}

h1, h2{
    color: rgb(18, 18, 121);
}

.titel{
    position: fixed;
    margin-top: 5%;
    text-align: center;
    z-index: 5;
    width: 100%;
}
.titel > h1{
    font-size: 300%;
    color: white;
}
.titel>h2{
    font-size: 200%;
}
.titel > p{
    font-size: 110%;
}


#kartbildBakgrund{
    background: #00f7ff;
    background: linear-gradient(90deg,rgba(0, 247, 255, 1) 0%, rgba(11, 117, 163, 1) 51%, rgba(83, 111, 237, 1) 100%);
    clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 0);
        height: 400px;
}



#kartbild{
    width: 100%;
    height: 400px;
    opacity: 30%;
    position: static;
    clip-path: polygon(100% 0, 100% 80%, 0 100%, 0 0);
    /* mask-image: linear-gradient(to top, transparent 0%, black 30%);
    -webkit-mask-image: linear-gradient(to top, transparent 0%, black 30%); */

}



.links{
    border: none;
    background: none;
    font-size: larger;
    font-weight: bold;
    margin-top:2%;
}



#janInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3%;
    padding-bottom: 3%;
}

#janInfo > img  {
    width: 15%;
    border-radius: 50%;
}

#janInfo > div {
    width: 30%;
    box-shadow: 5px 5px 8px 10px #cfcdcd;
    border-radius: 25px;
    padding: 15px;
}



