.picHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.picHolders{
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 4px 5px #cfcdcd;
    border-radius: 25px;
    padding: 30px;
    width: 12%;
}

.picHolders > h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.imgs{
    border-radius: 50%;
}

#textRuta{
    width: 20%;
}