.picHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#picHolder2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
}

.picHolder2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.picHolders {
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 4px 5px #ecebeb;
    border-radius: 25px;
    padding: 30px;
    margin-top: 20px;
    width: 30%;
}

.picHolders>h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.imgs {
    border-radius: 50%;
}

#textRuta {
    width: 25%;
    height: fit-content;
}

@media (max-width: 600px) {
    .picHolder {
        flex-direction: column;
        align-items: center;
    }

    #picHolder2 {
        width: 100%;
    }

    .picHolders {
        width: 40%;
        padding: 5px;

    }

    #textRuta {
        width: 80%;
    }
}