#mailDiv{
    width: 30%;
}
#mailForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1%;
    box-shadow: 5px 5px 4px 5px #ecebeb;
    border-radius: 25px;
    background-color: rgb(243, 243, 243);
    color: black;
}
#mailForm>input::placeholder{
    color: black;
}
#mailForm>textarea::placeholder{
    color: black;
}
#mailForm > input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    color:black;
    border-radius: 5px;
    padding: 7px;
    border: none;
}

#mailForm > textarea{
    border-radius: 5px;
    padding: 7px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    height: 200px;

}
#mailForm > button{
    border-radius: 5px;
    padding: 7px;
    border: none;
    background-color: rgb(35, 94, 255);
    width: 20%;
    color: white;
}
#mailForm > *{
    margin-top:2%;
}

#rubbet{
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}
#rubbet > *{
    margin-left: 7.5%;
}
@media (max-width: 600px) {
    #rubbet{
        flex-direction: column;
    }
    #mailDiv{
        width: 80%;
    }
}