body{
    margin: 0px;
}
header{
    background-color: lightslategray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}
#kartbild{
    width: 100%;
    height: 400px;
}
.links{
    background-color: lightslategray;
    border:none;
    width: 100%;
}