body{
    margin: 0px;
}
header{
    background-color: lightslategray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}
#kartbild{
    width: 100%;
    height: 400px;
}
.links{
    background-color: lightslategray;
    border:lightslategray 5px solid;
    width: 10%;
    height: auto;
    font-size: large;
    font-weight: bold;
    padding-bottom: 1%;
    padding-top: 1%;
}

.pics{
    border: black solid 1px;
    height: 300px;
    width: 200px;
    background-image:url("karta2.jpg");
    text-align: center;
    padding-top: 20px;
}

#picHolder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
}